# Bot
DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
CLOUDFLARED_COMMAND=tunnel --no-autoupdate run --token <token>
# Database
DB_HOST=mysql
DB_PORT=3307
DB_NAME=chill_station
DB_USER=root
DB_PASSWORD=root
